#flash{
	position: fixed;
	display: block;
	border-radius: 50%;
	background-color: red;
	width: 20px;
	height: 20px;
	top:100px;
	display: none;
}

.hue{
	min-height: 200px;
	background-color: HSL(240, 100%, 100%);
    border:1px;
}

.gray{
	min-height: 200px;
	background-color: HSL(120, 0%, 50%);
}

#mousespeed_bar{
	display: block;
	border-radius: 5%;
	background-color: red;
	padding-left: 20px;
	height: 30px;
	width:0px;
	font-weight: bold;
	color: white;
}