#flash{
	position: fixed;
	display: block;
	border-radius: 50%;
	background-color: red;
	width: 20px;
	height: 20px;
	top:100px;
	display: none;
}

.hapticHue{
	min-height: 100px;
	background-color: HSL(120, 100%, 50%);
	   border-style: solid;
	   border-width:1px; 
	   border-color: black;
}

.hapticSaturation{
	min-height: 100px;
	background-color: HSL(120, 80%, 100%);
	border-style: solid;
	   border-width:1px; 
	   border-color: black;
}

.hapticLightness{
	min-height: 100px;
	background-color: HSL(120, 100%, 50%);
	border-style: solid;
	   border-width:1px; 
	   border-color: black;
}

#mousespeed_bar{
	display: block;
	border-radius: 5%;
	background-color: red;
	padding-left: 20px;
	height: 30px;
	width:0px;
	font-weight: bold;
	color: white;
}